.widget {
  margin: 0 0 1.5em;

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }
}

#secondary .gform_widget {
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.2);
  h4 {
    font-size: 22px;
    padding: 15px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    background: #00bcd4;
    margin: 0;
  }
  .gform_wrapper {
    margin: 0;
    border: 1px solid rgb(204, 204, 204);
    border-top: none;
    padding: 30px;
  }
  .gform_confirmation_message {
    padding: 15px;
  }
  li.gfield {
    padding-right: 0;
  }
  input {
    background: #fff;
    margin: 0;
    width: 100%;
    padding-right: 0 !important;
    &::placeholder {
      color: #666;
    }
  }
  .gform_footer {
    background: #fff;
    margin: 0;
    .btn {
      width: 100%;
      padding: 10px;
      height: auto;
      background: #d81b60;
    }
  }
}
