.home.page {
    .site-content {
        padding-top: 0;
    }
    .hero {
        //line-height: 0;
        height: 600px;
        max-height: 80vh;
        background-size: cover;
        background-position: center;
        .intro {
            background: rgba(255, 255, 255, .8);
            height: 100%;
            padding: 25px;
            @media only screen and (min-width: 601px) {
                width: 45%;
                height: auto;
                position: absolute;
                right: 40px;
                top: 30%;
                border-radius: 25px
            }
        }
    }
    .brands {
        span {
            display: block;
            padding-bottom: 10px;
        }
        text-align: center;
        padding: 10px 0;
        .brand {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            img {
                margin-right: 10px;
                max-width: 50px;
                height: auto;
                &:last-child {
                    margin-right: 0;
                }
                @media only screen and (min-width: 601px) {
                    max-width: 100px;
                }
            }
        }
    }
    .services {
        h2 {
            text-align: center;
        }
        h3 {
            font-size: 26px;
            margin-top: 0;
        }
        p {
            font-size: 20px;
            line-height: 1.5;
            font-weight: 300;
        }
        .portfolio-items .row:nth-child(odd) {
            flex-direction: column-reverse;
            @media only screen and (min-width: 601px) {
                flex-direction: row;
            }
        }
        .portfolio-items .row .col.m4 {
            text-align: center;
            @media only screen and (min-width: 601px) {
                text-align: left;
            }
        }
        .container>p {
            text-align: center;
        }
        .card {
            .card-title {
                font-weight: 500;
            }
            p {
                font-size: 14px;
            }
        }
        .row {
            margin-top: 90px;
            display: flex;
            align-items: center;
            flex-direction: column;
            @media only screen and (min-width: 601px) {
                flex-direction: row;
            }
        }
        .btn-large:hover {
            background: #e91e63 !important;
        }
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 90% !important;
    }
}

.card-action a:hover {
    color: #e91e63 !important;
}