.site-header {
}

nav .sidenav-trigger {
    float: right!important;
    i {
        color: #fff;
        font-size: 36px!important;
    }
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 0!important;
        transform: none!important;
    }
}
