.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.entry-title a {
    font-size: 26px;
    line-height: 26px;
    &:hover {
        color: #e91e63 !important;
    }
}

.entry-meta,
.entry-meta a:link,
.entry-meta a:visited {
    color: #a9a9a9 !important;
}

.entry-title {
    margin: .5rem 0 1rem 0;
}

.updated:not(.published) {
    display: none;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.blog {
    .card {
        height: 550px;
        @media only screen and (min-width: 601px) {}
        .card-action {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
    .entry-title {
        font-size: 26px;
        font-weight: 300;
        a:link {
            color: #333;
        }
    }
    .pagination {
        text-align: center;
    }
    .page-numbers.current {
        background: #333;
        color: white;
        font-size: 1.2rem;
        padding: 0 10px;
        line-height: 30px;
        font-weight: 800;
    }
}

.site-content {
    padding-top: 70px;
    a {
        transition: all .25s ease-in-out;
        color: darken(#00bcd4, 10%) !important;
        &:hover {
            //color: #e91e63 !important
            color: #00bcd4 !important;
        }
    }
    .btn-large {
        color: #fff !important;
    }
}